.card{
    width: 18%;
    border-radius: 10px;
    height: 130px;
    max-width: 130px;
    cursor: pointer;

    &-empty{
        @extend .card;
        background-color: rgb(231, 231, 231);
        border: 1.5px dashed #13EBA2;
    }

    &-filled{
        @extend .card;
        background-color: white;
        display: flex;
        justify-content: center;
        box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
        align-items: center;
        padding: 10px;
        box-sizing: border-box;
        text-align: center;
        font-family: monospace;
        font-size: 18px;

        img{
            max-width: 50%;
        }
    }
}