.home{
    &-main-container{
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        box-sizing: border-box;
        padding: 50px;
    }

    &-title{
        color:rgb(75,0,130);
        font-size: 40px;
    }

    &-subtitle{
        margin-bottom: 15px;
        text-align: center;
    }

    &-text{
        margin-bottom: 50px;
        text-align: center;
        line-height: 1.5;
    }
}